.analysis-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.chart-and-totals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin-top: 10px;
}

.bar-chart-container {
  width: 58%; /* Adjust the width of the chart to occupy less space */
}

.totals-container {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  flex-wrap: wrap;
  gap: 20px;
}

.total-box {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  margin: 0;
  background-color: transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.total-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.2);
  border: 2px solid #ddd;
}

.total-box h3 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.total-box p {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin: 0;
}

.total-box:hover p {
  color: #4caf50;
}

.line-chart-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.responsive-container {
  margin-bottom: 50px;
}

.recharts-tooltip-wrapper {
  font-size: 0.9rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  color: #333;
}

.financial-summary {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 30px;
}

.financial-box {
  width: 250px;
  height: 180px;
  border-radius: 15px;
  background: linear-gradient(145deg, #f3f3f3, #e0e0e0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  margin: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.financial-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.2);
}

.financial-box h3 {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.financial-box p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
