html, body, p, span {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
}

span {
  color: rgb(216, 29, 29);
}

.para{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Ensure no overflow */  
  background: linear-gradient(to bottom right, rgb(193, 219, 243),white);
  /* background-color: rgb(193, 219, 243); */
}

.left-section1 {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  /* Gradient only on left section */
}

.logo-container {
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
  position: absolute; /* Logo aligned to the top-left */
  top: 20px;
  left: 20px;
}

.logo {
  height: 3rem;
  width: 3rem;
  margin-right: 10px;
}

.company-name {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

.content1{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.login-btn {
  padding: 10px;
  background-color: #3c4671;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 30px;
  font-size: 1rem;
  width: 110px; /* Medium size */
  align-self: flex-start; /* Aligns button to the left */
  margin-left: 10px;
}

.login-btn:hover {
  background-color: #6a2ecc;
  transform: scale(1.05);
}

.login-btn:active {
  background-color: #4e2299;
  transform: scale(0.95);
}

.illustration {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ecf0f1; Plain background for right section */
}

.bg-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

#title-1{
  text-align: left;
  padding-left: 0.75rem;
  font-size:30px;
  color: black;
}
